.counter{
    background-color: rgb(251, 251, 251);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgb(168, 168, 168);
    border-radius:7px;
    margin-bottom:20px;
    padding: 5px;
    Button{
        width: 40px;
        font-weight: bold;
    }
    .counterNumber{
       
        font-size:13pt;
        color: rgb(101, 101, 101);
    }
}
