.navbar{
    background-color: rgb(43, 96, 239);
    color: white;
    div{
        .collapse{
            ul {
                li{
                    a{
                        color: aliceblue;
                    }
                }
            }
        }
    }
}
