.navbar-expand-lg{
    background-color: #0d6efd;
    color: white;
    
    div{
        
        .collapse{
            ul {
                li{
                    a{
                        color: aliceblue;
                    }
                }
            }
        }
    }
}

// .navbar-expand-lg .navbar-nav {
//     flex-direction: row;
//     justify-content: end;
// }

// .navbar-expand-lg .navbar-collapse {
//     display: flex!important;
//     flex-basis: auto;
// }

// .navbar-expand-lg .navbar-collapse {
//     display: flex!important;
//     flex-basis: auto;
// }